<html>
  <head>
    <title>condensed check ins admin</title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/ua.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <a href="{{ url_for('home.index') }}">HOME</a>
    <form method="post" action="/config">
      <input type="text" name="client_id" value="clientid" />
      <br/>
      <input type="text" name="client_secret" value="clientsecred" />
      <br/>
      <input type="submit" />
    </form>
  </body>
</html>
