<html>
  <head>
    <title>flask</title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{{ url_for('static', filename='ua.css') }}" rel="stylesheet" type="text/css"/>
  </head>
  <body>
      <h1>Flask server</h1>
      <h2>untappd checkins</h2>
      <div><a href=
      "https://untappd.com/oauth/authenticate/?client_id={{ g.client_id }}&response_type=code&redirect_url=https://freeshell.de/~mrwick/untappd_checkins">Login to untappd</a></div>
  </body>
</html>
